
{% extends "AppTemplates/base.html" %}

{% load static %}  

{% block ContenidoQueCambia %}
    <p>Crear producto</p>
    <form action="/App/Producto/" method="post"> 
        {% csrf_token %}
        <input placeholder="Nombre de Producto" type= "text" name="nombre" required>
        <input placeholder="Stock" type= "number" name="stock">
        <input placeholder="Precio" type="number" name="price">
        <input placeholder="Descripcion" type= "text" name="description">
        <input type="submit" value="Enviar">
    </form>
{% endblock %}


<!-- class Producto(models.Model):
    nombre = models.CharField(max_length=40)
    stock = models.FloatField()
    price = models.DecimalField(max_digits=8, decimal_places=2)
    description = models.TextField()
    createdAt = models.DateTimeField(default=timezone.now) -->
